#ВНИМАНИЕ: НЕ КОМИТИТЬ ПРИВАТНЫЕ КЛЮЧИ!
*.key
ca.key
ca.srl

# Исполняемые файлы (создаются при сборке)
tunnel-server
tunnel-client


# Объектные файлы
*.o


# Резервные файлы редакторов
*~
.DS_Store

